
@import url('faq.css');
@import url('schedule.css');

/*--------------------------------------------------------------
    Navbar
--------------------------------------------------------------*/
.navbar-brand {
    margin-right: 10%;
}

/*--------------------------------------------------------------
    Jumbotron
--------------------------------------------------------------*/
 #page-top{
      margin: 0%;
  }

  #intro h1 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 60px;
    font-weight: 750;
  } 
  #intro p {
    color: #fff;
    margin: 0%;
    font-size: 30px;
  }

.main-jumbotron {
  /*background-image: url(../images/20160124-IMG_7913.jpg);*/
  
  margin-top: 3%;
  background: linear-gradient( rgba(0,0,0,0), rgba(200,0,0,0.4), rgba(0,0,0,0.8), #000 ), url(../images/valorantWallpaper0.png);
  background-size: cover;
  background-position-x: center;
  height: 100vh;
  min-height: 700px;
}
.main-jumbotron-container {
  padding: 0% 0%;
}
.main-jumbotron-image {
  width: 30%;
  max-width: 50%;
  margin: 10%;
  float: right;
}
.main-jumbotron-text-container {
    margin: 35vh 15vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

@media (min-width: 769px){
  .main-jumbotron-text-container {
    justify-content: left;
  }
}

.main-jumbotron-text-button{
  display: flex;
  /*justify-content: center;*/
}

.main-jumbotron * {
    text-align: left;
    color: white;
    font-family: 'Lato', sans-serif;
}

@media (max-width: 768px) {
    #intro h1 {
        text-align: center;
        font-size: 38px;
      } 
    
      #intro p {
        text-align: center;
        font-size: 25px;
      }
      #intro h2 {
        font-size: 28px;
      }
      .mar-center, .mar-main-center{
        display: flex;
        justify-content: center;
      }
    .main-jumbotron-image {
        width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
      }
      .main-jumbotron-text-container {
        position: relative;
        padding: auto;
        margin: 0%;
        margin-bottom: 4%;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        display: flex;
    }
    .main-jumbotron-text-button{
      margin: auto;
      /*margin-top: 3%;*/
      /*justify-content: center;*/
    }
  }
@media (min-width: 767px){
    .mar-main-center{
      /*width: 80%;*/
      width:540px;
    }
}
  
@media (max-width: 575px){
  .main-jumbotron-image {
    width: 40%;
    margin-top: 25%;
  }
}
/*--------------------------------------------------------------
    Buttons
--------------------------------------------------------------*/
.sh-button {
    text-align: center !important;
    background-color: #000;
    border: 0;
    border-radius: 3px;
    font-size: 19px;
    height: 48px;
    letter-spacing: 0.03em;
    line-height: 48px;
    transition: all 0.23s ease-in-out 0s;
    left: 50%;
    width: 200px;
    margin: 2% !important;
  }
  
.sh-button:hover {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  /* width: 300px;*/
}
a.sh-button:link {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 768px) {
  .sh-button {
    margin: auto;
  }
}
@media (max-width: 575px){
  .sh-button{
    font-size: 19px;
    letter-spacing: 0%;
    padding: 0%;
    /*font-weight: 200px;*/
  }
}
/*--------------------------------------------------------------
    Section
--------------------------------------------------------------*/
.section-header h1,
.section-header h2 {
  font-size: 32px;
  /*color: #111;*/
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.section-header h1::after,
.section-header h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 3px;
  background: #ff4900;
  bottom: 0;
  left: calc(50% - 60px);
}

.section-header p {
  color: white;
  text-align: center;
}

.site-section-heading {
  float: none !important;
}
.site-section{
  padding: 3em 0;
}

@media (min-width: 768px){
  .site-section{
    padding: 7em 0;
  }
}

/*--------------------------------------------------------------
    About
--------------------------------------------------------------*/
#rules{
  padding: 7%;
  background-color: #000;
  color: white;
  text-align: center;
}
#bracket{
    padding: 7%;
    background-color: #062015;
    color: white;
    text-align: center;
  }
/*--------------------------------------------------------------
    FAQ - imported
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    Sponsors
--------------------------------------------------------------*/
#sponsors{
  padding: 7%;
  background-color: rgb(27, 33, 36);
  color: white;
  text-align: center;
}

#prickly-pear img{
  display: block;
  width: 60%;
  margin: auto;
}

#barrel img{
  display: block;
  width: 70%;
  margin: auto;
  padding: 20px;
}

#senita img {
  display: block;
  width: 75%;
  margin: auto;
}

#amazon{
  width: 38% !important;
}

#general-dynamics{
  width: 100% !important;
}

/*--------------------------------------------------------------
    Team
--------------------------------------------------------------*/
#team{
  padding: 7%;
  background-color: rgb(27, 33, 36);
  color: white;
  text-align: center;
}

.team-item {
  vertical-align: left;
  display: inline-block;

  text-align: center;
  width: 250px;
  height: 300px;
  margin: 2%;
}

.team-item img {
  border-radius: 7%;
  padding: 10px;
}

.text-overlay {
  margin: 40vh 5vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.main-content {
  /*border-radius: 20px;*/
  width: 70vw;
  margin: auto;
  /*margin-top: -50px;*/
}

.main-text {
  color: #fff;
  position: absolute;
  top: 50px;
  width: 96.6667%;
}

.no-image{
  display: none;
}

@media screen and (max-width: 1000px) {
	#team{
		padding-top: 12%;
	}
}

@media screen and (max-width: 600px) {
	#team{
		padding-top: 18%;
	}
}

@media screen and (max-width: 375px) {
	#team{
		padding-top: 23%;
	}
}
/*--------------------------------------------------------------
    Footer
--------------------------------------------------------------*/
.foot{
  padding: 4%;
  background-color: #000;
  color: white;
  text-align: center;
}

.social a i {
  color: #fff;
  font-size: 200%;
  margin: 3%
}